/* GENERELT */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

img {
	width: 100%;
	height: auto;
	vertical-align: middle;
}

section {
	margin: 2rem 1rem;
}

/* ====================================================================== */

/* FONTS & STYLING */
h1 {
	font-family: 'Old Standard TT', serif;
	font-size: 4rem;
	text-transform: uppercase;
	text-align: center;
	padding-top: 1rem;
	letter-spacing: 0.1rem;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 2rem;
	text-align: center;
	color: #EAA7A2;
	padding-bottom: 1rem;
}

h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 1rem;
	color: #000;
}

P {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1rem;
	max-width: 60ch;
	margin-bottom: 1rem;
}

a {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #000;
	font-size: 1.1rem;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	padding: 0.5rem 1rem;
}

a:hover {
	color: #fff;
}

ul {
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
	padding-top: 1rem;
}

li {
	list-style: none;
}

/* Knapper */
.button {
	color: #000;
	background-color: #9ed3c3;
	border: none;
	padding: 1rem 4rem;
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-bottom: 2rem;
}

.button:hover {
	background-color: #000;
	color: #fff;
}

button {
	color: #000;
	background-color: #9ed3c3;
	border: none;
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
}

button:hover {
	background-color: #000;
	color: #fff;
}

.category_buttons {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1rem;
	margin: 1rem;
}

.category_buttons button {
	padding: 1rem 1rem;
}

#sorting_buttons button {
	background-color: #000;
	color: #fff;
	padding: 1rem 1rem;
}

#sorting_buttons button:hover {
	color: #9ed3c3;
}

/* Dropdown */
.dropbtn {
	width: 100%;
	cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
	background-color: black;
}

.dropdown {
	position: relative;
	display: inline-flex;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #000;
	overflow: hidden;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content button {
	width: 100%;
}

.dropdown-content a {
	color: black;
	text-decoration: none;
	display: block;
}

.dropdown a:hover {
	background-color: #ddd;
}

.show {
	display: block;
}



/* ====================================================================== */

/* HEADER */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1rem;
	background-color: #9ED3C3;
}

.logo {
	width: 4rem;
	cursor: pointer;
}

/* ====================================================================== */

/* FOOTER */
footer {
	background-color: #9ED3C3;
	margin-top: auto;
	padding: 2rem;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1rem;
	margin-top: auto;
}

footer a {
	text-transform: none;
	font-size: 1rem;
	letter-spacing: normal;
	padding: 0;
}

/* ====================================================================== */

/* CLASSES */
.cake_article {
	max-width: 270px;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

#mail {
	text-transform: none;
	font-size: 1rem;
	letter-spacing: normal;
	padding: 0;
}

#mail:hover {
	color: #9ED3C3;
}

.centrering {
	width: 70vw;
	max-width: 1280px;
	margin: 0 auto;
	align-items: center;
}

/* Loading-tekst som vises indtil indhold er hentet */
.loading {
	display: none;
}

.load_text {
	display: none;
}

.loading + .load_text {
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 2rem;
	text-align: center;
	color: #EAA7A2;
	padding: 3rem 0;
}

/* Tilføj pseudo-element på alle img i gallery = hvide kanter */
.lines::after {
	content: '';
	position: absolute;
	border: 1px solid #fff;
	top: 0.5rem;
	bottom: 0.5rem;
	left: 0.5rem;
	right: 0.5rem;
}

.lines,
.gallery_image {
	position: relative;
	display: inline-block;
	overflow: hidden;
}

.mint_box {
	background-color: #dfede9;
	padding: 1rem;
	margin-bottom: 1rem;
}

.maanedens {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1rem;
	width: 100%;
}

/* Valgt sorteringsknap i gallery */
.selected {
	background-color: #000;
	color: #fff;
}

.single_view {
	max-width: 60vw;
	margin: 1rem auto 2rem auto;
}

.textbox {
	margin: 1rem 0;
}

/* ====================================================================== */

/* SPLASH */
#splash {
	width: 100%;
	display: grid;
	margin: 0 0 2rem 0;
}

.splash_img,
.splash_h1 {
	grid-area: 1/1;
}

.splash_img {
	background-image: url("img/kagebord.jpg");
	width: 100%;
	height: 45vh;
	background-size: cover;
	display: grid;
	background-position: 43% 15%;
}

.splash_h1 {
	place-self: center center;
	background-color: #dfede9;
	width: 100%;
}

/* ====================================================================== */

/* GALLERY */
#gallery_section {
	justify-content: center;
}

#gallery_h2 {
	padding: 1rem 0;
}

#gallery {
	display: grid;
	grid-template-columns: repeat(auto-fit, 250px);
	grid-gap: 1rem;
}


/* Hover på kage-articles */
.hover_text {
	opacity: 0;
	font-size: 25px;
}

.gallery_image {
	display: grid;
}

.gallery_image:hover p {
	opacity: 1;
}

.gallery_image:hover img {
	opacity: 0.3;
	transform: scale(1.15);
	transform-origin: 50% 50%;
}

.gallery_image img,
.gallery_image p {
	grid-area: 1 / 1;
}

.gallery_image img {
	place-self: center;
	display: block;
	transition: 0.3s transform ease-out;
}

.gallery_image p {
	place-self: center;
}

.technique {
	white-space: pre-wrap;
}

/* ====================================================================== */

/* SINGLE VIEW */
#single_article {
	padding: 2rem 0;
}

/* ====================================================================== */

/* SPECIFIKT FOR DESKTOP */
@media (min-width: 768px) {
	.hide_on_desktop {
		display: none;
	}

	.grid-1-1 {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 1rem;
	}

	.grid-1-1-1 {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 1.5rem;
		max-width: 70vw;
		margin: 0 auto;
	}

	.grid-1-5 {
		display: grid;
		grid-template-columns: 1fr 5fr;
	}

	.maanedens {
		margin-bottom: 0;
	}

	/* Forside */
	.splash {
		width: 100%;
		height: 56.25vh;
		display: grid;
	}

	.col {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 50px;
	}

	/* Kager */
	.category_buttons {
		background-color: #9ed3c3;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		grid-gap: 0;
	}

	.category_buttons button,
	#sorting_buttons button {
		padding: 1.5rem 4rem;
	}

}
