/* GENERELT */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

img {
	width: 100%;
	vertical-align: middle;
}

/* ====================================================================== */

/* FONTS & STYLING */
h1 {
	font-family: 'Old Standard TT', serif;
	font-size: 4rem;
	text-transform: uppercase;
	text-align: center;
	opacity: 0.8;
	padding-top: 10px;
	padding-bottom: 10px;
	letter-spacing: 0.1rem;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 1.5rem;
	text-align: center;
	color: #EAA7A2;
}

P {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1rem;
	max-width: 60ch;
}

a {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #000;
	font-size: 1.1rem;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	padding: 0.5rem 1rem;
}

a:hover {
	color: #fff;
}

li {
	list-style: none;
}

/* Knapper */

button {
	color: #000;
	background-color: #9ed3c3;
	border: none;
	padding: 1rem 4rem;
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
}

button:hover {
	background-color: #000;
	color: #fff;
}

.selected {
	background-color: #000;
	color: #fff;
}


/* Kager */
#button_filter {
	background-color: #000;
	color: #fff;
}

/* tilføj pseudo-element på alle img i gallery = hvide kanter */
.gallery_image::after {
	content: '';
	position: absolute;
	border: 1px solid #fff;
	top: 0.5rem;
	bottom: 0.5rem;
	left: 0.5rem;
	right: 0.5rem;
}


/* ====================================================================== */

/* HEADER */

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1rem;
	background-color: #9ED3C3;
}

.logo {
	width: 3.5rem;
	cursor: pointer;
}


/* ====================================================================== */

/* FOOTER */

footer {
	background-color: #9ED3C3;
	margin-top: auto;
	padding: 2rem;
	text-align: center;
}


/* ====================================================================== */

/* CLASSES */
.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.gallery_image {
	position: relative;
}


/* .center {
	max-width: 70vw;
	margin: 0 auto;
	align-items: center;
}
 */
/* Om os */
.person {
	background-color: #dfede9;
}

.person img {
	padding: 20px;
}

.person ul {
	padding: 0px 20px 20px 20px;
}

/* ====================================================================== */

/* GRIDS */
#gallery {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 1rem;
}



/* ====================================================================== */

/* SPLASH */
#splash {
	width: 100%;
	display: grid;
}

.splash_img,
.splash_h1 {
	grid-area: 1/1;
}

.splash_img {
	background-image: url(https://placeimg.com/1400/450/any/grayscale);
	width: 100vw;
	height: 45vh;
	background-image: cover;
	background-size: cover;
	display: grid;
	background-position: 43% 15%;
}

.splash_h1 {
	place-self: center center;
	background-color: #dfede9;
	width: 100%;
}

/* ====================================================================== */

/* SPECIFIKT FOR MOBILE */
@media (max-width: 767px) {
	.hide_on_mobile {
		display: none;
	}
}


/* ====================================================================== */

/* SPECIFIKT FOR DESKTOP */
@media (min-width: 768px) {
	.hide_on_desktop {
		display: none;
	}

	.grid-1-1-1 {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 1.5rem;
		max-width: 70vw;
		margin: 0 auto;
	}

	/* Forside */
	.splash {
		width: 100vw;
		height: 56.25vh;
		display: grid;
	}

	.col {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 50px;
	}

	/* #velkommen,
	#maanedens {
		margin-left: 50px;
		margin-right: 50px;
		margin-top: 10vh;
	} */

	/* Kager */
	#main_kager {
		display: grid;
		grid-template-areas: "sidebar content content content";

	}

	.sidebar {
		grid-area: sidebar;
	}

	.content {
		grid-area: content;
	}

	#category_buttons {
		background-color: #9ed3c3;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

	}
}
